header {
  background-color: #2d3436;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  nav {
    a {
      color: white;
      margin-left: 20px;
      text-decoration: none;
      font-size: 1em;

      &:hover, &.active-link {
        text-decoration: underline;
        color: #c0392b; 
      }
    }
  }
}

main {
  color: #2d3436;
  padding: 20px;
  background-color: #ffffff;
  min-height: calc(100vh - 160px); 
}

footer {
  color: white;
  background-color: #2d3436;
  text-align: center;
  padding: 10px;
  position: relative; 
  bottom: 0;
  width: 100%;
}